# docker-compose.yml
version: '3.8'

services:
  app:
    build: .
    ports:
    - "8080:8080"
    volumes:
      - ./plombir_base.db:/app/plombir_base.db
      - ./backend:/app/backend
      - ./frontend:/app/frontend
    environment:
      - NODE_ENV=production
      - PORT=8080
      - DB_PATH=/app/plombir_base.db
      - BOT_TOKEN=8209737918:AAF-Dd8-C-6c4vV-nFlSJ4L8PDVuPA-R63Y
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - app
    restart: unless-stopped